{%extends 'base.html'%} {%load static%} {%block content%}
<br />
<br>
<br>
<h3 style="text-align: center">This is what is comming up next!!</h3>

<div class="container">
  <a button class="btn btn-info" href="{% url 'add_event' %}">Add Events</a>
  <br />
  <br />
  <div class="row g-4">
  
    {% if events %} {% for event in events %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        {% if event.image %}
        <img
          src="{{ event.image.url }}"
          class="card-img-top"
          alt="{{ event.title }}"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">{{ event.description }}</p>
        </div>
        {% if request.user == event.organizer %}
        <div class="card-body">
          <a class="btn btn-info" href="{% url 'edit_event' event.pk %}"
            >Edit</a
          >
          <a class="btn btn-danger" href="{% url 'delete_event' event.pk %}"
            >Delete</a
          >
        </div>
        {%endif%}
        <button class="btn btn-outline-success" data-bs-target="#event{{event.pk}}" data-bs-toggle="modal">View More</button>
      </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="event{{event.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{event.title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{event.description}}<br>
      
        <p class="text-muted">Start Time: {{event.time}}</p>
        <p class="text-muted">End Time: {{event.endTime}}</p>
        <p class="text-muted">Location: {{event.location}}</p>
        <p class="text-muted">organizer: {{event.organizer}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    {% endfor %} {% else %}
    <p class="muted">No Events</p>
    {%endif%}

  </div>
</div>
{%endblock%}
